.modal_wrap {
  :global {
    .modal-dialog {
      max-width: 600px;
      .modal-content {
        border: 1px solid #c9daff;
        border-radius: 16px;
      }
    }
  }
  .cross {
    cursor: pointer;
    background-color: #ebf0ff;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .inner_wrap {
    width: 100%;
  }
}
