.wrapper {
  position: relative;
  min-height: 100vh;
  background: linear-gradient(
    359.58deg,
    #524fa1 -14.88%,
    #52549d -4.94%,
    #546291 6.66%,
    #567a7d 18.26%,
    #589b61 31.51%,
    #5bba47 41.46%,
    #5bba47 150.82%
  );
  transform: matrix(1, 0, 0, 1, 0, 0);
  .img {
    max-width: 750px;
    @media (max-width: 1199px) {
      position: absolute;
      top: 27%;
    }
    @media (max-width: 991px) {
      position: relative;
      top: 0;
    }
  }
  :global {
    .content-section {
      margin-bottom: -350px;
      .z-index-10 {
        z-index: 10;
        @media (max-width: 991px) {
          margin-bottom: -120px;
        }
        @media (max-width: 991px) {
          margin-bottom: -80px;
        }
      }
    }
    .z-index-10 {
      z-index: 10;
    }
  }
  .signInWapper {
    max-width: 469px;
    width: 100%;
    position: relative;
    .signInShape {
      @media (max-width: 600px) {
        // height: 665px;
      }
      @media (max-width: 400px) {
        // height: 665px;
      }
    }
    .signIn {
      position: absolute;
      top: 50px;
      width: 100%;
      .content {
        max-width: 337px;
        width: 100%;
        margin: 0 auto;
        padding-top: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 72vh;
        @media (max-width: 450px) {
          padding-top: 50px;
          height: 70vh;
        }

        @media (max-width: 420px) {
          padding-top: 50px;
          height: 65vh;
        }

        @media (max-width: 400px) {
          // padding-top: 50px;
          height: 60vh;
        }

        .meta {
          margin-top: 8px;
          border: 1px solid #4f489e;
          padding: 7px;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          column-gap: 20px;
          // font-family: "Open Sans";
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
          color: #4f489e;
          border-radius: 30px;
          background: transparent;
          margin-bottom: 20px;

          @media (max-width: 992px) {
            font-weight: 400;
            column-gap: 8px;
            img {
              max-width: 32px;
            }
          }
          @media (max-width: 575px) {
            font-size: 14px;
            margin-top: 4px;
            padding: 5px;
          }
        }

        .text {
          // font-family: "Open Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 16px;
          color: #828282;
          margin-top: 20px;
          @media (max-width: 992px) {
            // margin-top: 28px;
          }
          @media (max-width: 575px) {
            font-size: 14px;
          }
        }
        .registerText {
            // font-family: "Open Sans";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #828282;
            margin-top: 8px;
            @media (max-width: 992px) {
            }
            @media (max-width: 575px) {
              font-size: 14px;
            }
        }
        .text {
          // font-family: "Open Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 10px;
          color: #828282;
          margin-top: 16px;
          @media (max-width: 992px) {
            // margin-top: 28px;
          }
          @media (max-width: 575px) {
            font-size: 14px;
            margin-top: 4px;
            margin-bottom: 8px;
          }
        }
        .textBtn {
          border: none;
          background: transparent;
          cursor: pointer;
          text-decoration: underline;
          color: #5fbb46;
        }
        .reg {
          margin-top: 16px;
          border: 1px solid #4f489e;
          padding: 7px;
          width: 100%;
          // font-family: "Open Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #4f489e;
          border-radius: 30px;
          background: transparent;
          @media (max-width: 575px) {
            font-size: 14px;
          }
        }
        @media (max-width: 1200px) {
          max-width: 340px;
          svg {
            max-width: 130px;
          }
          .meta {
            margin-top: 10px;
          }
        }
        @media (max-width: 991px) {
          max-width: 337px;
          svg {
            max-width: auto;
          }
          .meta {
            margin-top: 10px;
          }
        }
        @media (max-width: 475px) {
          max-width: 310px;
          .meta {
            margin-top: -2px;
            margin-bottom: 12px;
          }
        }
        @media (max-width: 400px) {
          max-width: 280px;
          svg {
            max-width: 130px;
          }
          .meta {
            margin-top: -2px;
            margin-bottom: 12px;
          }
        }
        @media (max-width: 350px) {
          max-width: 230px;
          svg {
            max-width: 100px;
          }
          .meta {
            margin-top: 20px;
          }
        }
      }
    }
  }
}

.login {
  width: 100%;
  border: 0px;
  // height: 55px;
  background: #5fbb46;
  border-radius: 40px;
  // font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  @media (max-width: 575px) {
    font-size: 14px;
  }
}
