.modal_wrap {
  :global {
    .modal-dialog {
      max-width: 900px;
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 11px 15px -7px,
        rgba(0, 0, 0, 0.14) 0px 24px 38px 3px,
        rgba(0, 0, 0, 0.12) 0px 9px 46px 8px;
      .modal-content {
        border: 1px solid #c9daff;
        border-radius: 8px;
      }
    }
  }
  .cross {
    cursor: pointer;
    background-color: #ebf0ff;
    position: absolute;
    top: 14px;
    right: 18px;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .category {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 13px;
    padding-top: 2px;
    padding-bottom: 14px;
    color: rgb(174, 180, 190);
    font-weight: 600;
    text-transform: none;
    white-space: normal;
  }
  .price {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    color: #4f489e;
    text-transform: none;
    white-space: normal;
  }

  .description {
    margin-bottom: 16px;
    margin-top: 16px;
    font-size: 14px;
    text-transform: none;
    white-space: normal;
  }
}

.imageText {
  position: absolute;
  color: #fff;
  bottom: 30px;
  left: 3%;
  background-color: rgba(98, 92, 89, 0.6);
  padding: 10px;
  align-items: center;
  justify-content: center;
  // transform: translateX(50%);
}

.content {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #6b7280;
}

.icon {
  height: 55px;
  width: 55px;
  color: #69bd45;
  margin-bottom: 1rem;
}
